@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');
@import "tailwindcss";

:root {
  --background: #F8F7F5;
  --foreground: #1A1A1A;
}

@theme {
  --font-family-lora: 'Lora', Georgia, serif;
  
  --color-background: #F8F7F5;
  --color-foreground: #1A1A1A;
}

body {
  font-family: var(--font-family-lora);
  font-size: 20px;
}